* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.dropdown-menu-1 {
  transition: all 0.5s ease;
  position: relative;
  animation: myfirst 0.5s;
}

.sticky-top {
  position: fixed !important;
  top: 0;
  width: 100%;
}

.navbar {
  padding: 20px 0px;
  display: flex;
  position: relative;
  transition: all 0.5s ease;
  background: transparent;
}
.demo {
  height: 1000px;
}

.sticky-top.scrolled {
  background: white;
  padding: 12px 0px;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
}

.logo a img {
  margin-bottom: 8px;
}

.logo a {
  margin-left: 110px;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  color: #012970;
  letter-spacing: 1px;
  font-weight: 700;
  display: inline;
  text-decoration: none;
}

.dropdown-menu {
  border-radius: 5px;
  border: none;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgb(127 137 161 / 25%);
}

#getstarted {
  margin-right: 120px;
  background: #4151f1;
  padding: 8px 20px !important;
  margin-left: 30px;
  border-radius: 4px;
  display: flex;
}

.nav-item a {
  color: #013289;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  padding: 10px 0px 10px 30px !important;
  font-weight: 700;
  padding: 10px 0px 10px 30px;
}

.dropdown-menu-2 {
  position: relative;
  transition: all 0.5s ease;
  position: relative;
  animation: mysecond 0.5s;
}

.dropdown:hover .dropdown-menu-1,
.dropright:hover .dropdown-menu-2 {
  display: block;
}
.dropdown-menu-2 {
  top: 0;
  left: 99%;
  margin-top: -1px;
}

@keyframes myfirst {
  from {
    top: 150px;
  }
  to {
    top: 40px;
  }
}

@keyframes mysecond {
  10% {
    left: 0px;
    left: 100px;
  }
  0% {
    left: 0px;
  }
}

.open-popup-link {
  margin-right: 20px;
}

#navbar-popup {
  position: relative;
  padding: 10px;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.4s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-bg {
  background: blue;
  opacity: 0.1;
}

#home {
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
  top: 0;
  height: 100vh;
  width: 100%;
  left: 0;
  background: url(img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.home-content {
  margin: 90px 0px;
}

.home-content h1 {
  color: #012970;
  font-size: 48px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  position: relative;
  animation: home-content 0.5s ease-in forwards;
}

.home-content h2 {
  color: #444444;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 10px;
  opacity: 0;
  font-family: "Nunito", sans-serif;
  position: relative;
  animation: home-content 0.5s ease-in forwards;
  animation-delay: 0.5s;
}

.home-content button {
  border: none;
  width: 198px;
  padding: 12px 40px !important;
  text-align: center;
  text-decoration: none;
  margin: 30px 0px 0px;
  background: #4151f1;
  color: #fff;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  opacity: 0;
  box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);
  font-size: 16px;
  font-family: "opan sans", sans-serif;
  animation: home-content 0.2s ease-in forwards;
  animation-delay: 0.1s;
}

@keyframes home-content {
  from {
    top: 70px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.home-content button i {
  margin-left: 5px;
  transition: 0.3s ease;
}

.home-content button:hover i {
  transform: translateX(5px);
}

.home-img img {
  display: block;
  margin: 10px 0px 0px auto;
  opacity: 0;
  position: relative;
  animation: home-img 1s ease-in forwards;
  animation-delay: 0.5s;
}

@keyframes home-img {
  from {
    opacity: 0;
    transform: scale(1.2);
    top: 50px;
  }
  to {
    opacity: 1;
    transform: scale(1);
    top: 0px;
  }
}

#about {
  padding: 60px 0px;
}

.about-container {
  padding-right: 0px;
}

.about-content {
  margin: 70px 0px;
  position: relative;
  padding: 40px;
  background: #f6f9ff;
  animation: about-content 1s;
}

[data-aos="about-content"] {
  top: 80px;
  opacity: 0;
}
[data-aos="about-content"].aos-animate {
  top: 0px;
  opacity: 1;
}

.about-content h3 {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #4154f1;
  margin-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-content h2 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  color: #012970;
  margin: 0px 0px 8px;
  font-weight: 700;
}

.about-content p {
  font-size: 16px;
  font-family: "Opan sans", sans-serif;
  color: #444444;
  margin: 0px 0px 8px;
  line-height: 24px;
  margin: 15px 0px 30px;
  font-weight: 400;
}

.about-button button {
  border: none;
  width: 198px;
  padding: 12px 40px !important;
  text-align: center;
  background: #4151f1;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);
  font-size: 16px;
  font-family: "opan sans", sans-serif;
}

.about-button button i {
  margin-left: 5px;
  transition: 0.3s ease;
  transform: translateX(0px);
}

.about-button button:hover #icon-anim {
  transform: translateX(5px);
}

.about-img {
  padding-left: 0px;
}

.about-img img {
  height: auto;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: about-img 1s;
  display: flex;
}

[data-aos="about-img"] {
  opacity: 0;
  transform: scale(1.2);
  top: 50px;
}

[data-aos="about-img"].aos-animate {
  opacity: 1;
  transform: scale(1);
  top: 0px;
}

#value {
  padding: 60px 0px;
}

.value-header {
  position: relative;
  text-align: center;
  padding-bottom: 40px;
  animation: value-header 1s;
}

.value-header h2 {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #4154f1;
  margin-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.value-header p {
  font-size: 38px;
  font-family: "Opan sans", sans-serif;
  color: #012970;
  margin: 10px 0px 0px;
  font-weight: 700;
}

[data-aos="value-header"] {
  top: 50px;
  opacity: 0;
}
[data-aos="value-header"].aos-animate {
  top: 0px;
  opacity: 1;
}

.value-content {
  padding: 30px;
  position: relative;
  text-align: center;
  box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
  animation: value-content 0.2s;
}

.value-content img {
  max-width: 100%;
  width: auto;
  transition: all 0.5s ease;
  padding: 30px 50px;
  transform: scale(1.1);
}

.value-content h3 {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  color: #012970;
  margin: 0px 0px 8px;
  font-weight: 700;
}

.value-content p {
  font-size: 16px;
  font-family: "Opan sans", sans-serif;
  color: #444444;
  margin: 0px 0px 16px;
  line-height: 24px;
  font-weight: 400;
}

.value-content:hover .value-img {
  transform: scale(1);
}

[data-aos="value-content"] {
  top: 70px;
  opacity: 0;
}
[data-aos="value-content"].aos-animate {
  top: 0px;
  opacity: 1;
}

.counts {
  padding: 60px 0px;
  margin: 0px auto;
}

.count-box {
  padding: 30px;
  display: flex;
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
}

.count-box i {
  margin-right: 20px;
  font-weight: 100;
  align-self: center;
}

.count-box div {
  display: inline-block;
}

.count-box div span {
  color: #0b198f;
  font-size: 36px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

.count-box div p {
  color: #444444;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.features {
  padding: 60px 0px;
}

.features-header {
  position: relative;
  text-align: center;
  padding-bottom: 40px;
  animation: value-header 1s;
}

.features-header h2 {
  font-size: 13px;
  font-family: "Nunito", sans-serif;
  color: #4154f1;
  margin-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-header p {
  font-size: 38px;
  font-family: "Opan sans", sans-serif;
  color: #012970;
  margin: 10px 0px 0px;
  font-weight: 700;
}

.features-img img {
  height: auto;
  max-width: 100%;
}

.features-content {
  flex-wrap: wrap;
  margin: 0px !important;
}

.features-content .col-md-6 {
  padding: 0px 12px;
  margin: 24px 0px 0px;
}

.features-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
  display: flex;
  animation: features-box 1s;
}

@keyframes features-box {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.features-box i {
  background: #ecf3ff;
  font-size: 24px;
  padding: 4px;
  max-width: 32px;
  align-self: center;
  max-height: 32px;
  border-radius: 3px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.features-box h3 {
  font-family: "Nunito", sans-serif;
  color: #012970;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  margin: 0px;
}

.features-box:hover .bi-check {
  background: #4154f1;
  color: white;
}

.features-tab {
  margin-top: 120px;
  animation: feature-box 1s;
}

.features-tab-content h3 {
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  margin: 0px 0px 10px;
  color: #012970;
  font-weight: 700;
}

.features-tab-content ul li a {
  color: #012970;
  font-size: 15px;
  font-family: "Nunito", sans-serif !important;
  font-weight: 600;
  margin: 0px 25px -2px 0px;
  text-transform: uppercase;
  background: transparent;
  padding: 12px 0px;
}

.features-tab-content ul {
  border-bottom: 1px solid #eee;
}

.features-tab-content ul li {
  padding: 0px !important;
}

.features-tab-content ul li .active {
  color: #4154f1 !important;
  background: #fff !important;
  border-bottom: 3px solid #4154f1;
  border-radius: 0px !important;
}

.tab-pane {
  transition: all 1s ease-in-out;
}

.tab-pane p {
  margin: 0px 0px 16px;
  font-family: "Opan sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: #444444;
}

.tab-pane div {
  display: inline-flex;
}

.tab-pane div i {
  font-size: 24px;
  margin-right: 8px;
  color: #4154f1;
}

.features-tab-img img,
.features-icons-img img {
  height: auto;
  width: 100%;
  position: relative;
  align-self: center;
}

.features-icons {
  margin-top: 120px;
}

.features-icons-header {
  text-align: center;
  margin: 0px 0px 20px;
}

.features-icons-header h3 {
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  color: #012970;
  font-weight: 700;
}

.icon-content {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

#icon-box {
  padding: 0px 15px 0px;
  margin: 24px 0px 0px;
  animation: icon-box 1s ease-in-out;
}

@keyframes icon-box {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#icon-box i {
  font-size: 44px;
  margin: 0px 15px 0px 0px;
  color: #4154f1;
}

#icon-box h4 {
  margin: 0px 0px 10px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: #012970;
  font-weight: 700;
}

#icon-box p {
  color: #848484;
  font-size: 15px;
  font-family: "Opan sans", sans-serif;
  margin: 0px 0px 16px;
  font-weight: 400;
}

#services {
  padding: 60px 0px;
}

.service-header,
.pricing-header,
.faq-header,
#portfolio header {
  text-align: center;
  padding-bottom: 40px;
}

.service-header h2,
.pricing-header h2,
.faq-header h2,
#portfolio header h2 {
  font-size: 13px;
  font-family: "Nunito", sans-serif;
  color: #4154f1;
  font-weight: 700;
  text-transform: uppercase;
}

.service-header p,
.pricing-header p,
.faq-header p,
#portfolio header p {
  font-size: 38px;
  font-family: "Opan sans", sans-serif;
  color: #012970;
  margin: 10px 0px 0px;
  font-weight: 700;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
}

.service-content {
  margin: 24px 0px 0px;
  padding: 60px 30px;
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
  align-items: center;
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s ease;
  animation: service-content 1s ease;
}

@keyframes service-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.service-content .ri-discuss-line {
  font-size: 36px;
  transition: all 0.5s ease;
  padding: 13.2px 20px;
  border-radius: 4px;
  margin-bottom: 25px;
  display: inline-block;
}

.service-content h3 {
  font-size: 28px;
  font-family: "Nunito", sans-serif;
  color: #444444;
  margin: 0px 0px 8px;
  transition: all 0.5s ease;
  font-weight: 700;
}

.service-content p {
  font-size: 16px;
  font-family: "Opan sans", sans-serif;
  color: #444444;
  margin: 0px 0px 16px;
  transition: all 0.5s ease;
  font-weight: 400;
}

.service-content a {
  transition: all 0.5s ease;
  font-weight: 600;
  font-size: 16px;
  font-family: "Opan sans", sans-serif;
  text-decoration: none;
}

.service-content:hover p,
.service-content:hover h3,
.service-content:hover a {
  color: white;
}

#blue .ri-discuss-line {
  background: #dbf3fe;
  color: #2db6fa;
}

#blue:hover {
  color: #fff !important;
  background-color: #2db6fa;
}

#blue {
  border-bottom: 3px solid #2db6fa;
}

#blue:hover .ri-discuss-line {
  background-color: #fff;
}

#blue a {
  color: #2db6fa;
}

#blue:hover a {
  color: #fff;
}

#orange:hover .ri-discuss-line {
  background-color: #fff;
}

#orange {
  border-bottom: 3px solid #f68c09;
}

#orange .ri-discuss-line {
  background: #fde3c4;
  color: #f68c09;
}

#orange:hover {
  color: #fff !important;
  background-color: #f68c09;
}

#orange a {
  color: #f68c09;
}

#orange:hover a {
  color: #fff;
}

#green:hover .ri-discuss-line {
  background-color: #fff;
}

#green {
  border-bottom: 3px solid #08da4e;
}

#green .ri-discuss-line {
  background: #cffddf;
  color: #08da4e;
}

#green:hover {
  color: #fff !important;
  background-color: #08da4e;
}

#green a {
  color: #08da4e;
}

#green:hover a {
  color: white;
}

#red:hover .ri-discuss-line {
  background-color: #fff;
}

#red {
  border-bottom: 3px solid #e9222c;
}

#red .ri-discuss-line {
  background: #fef7f8;
  color: #e9222c;
}

#red:hover {
  color: #fff !important;
  background-color: #e9222c;
}

#red a {
  color: #e9222c;
}

#red:hover a {
  color: white;
}

#purple:hover .ri-discuss-line {
  background-color: #fff;
}

#purple {
  border-bottom: 3px solid #b50edf;
}

#purple .ri-discuss-line {
  background: #f8e4fd;
  color: #b50edf;
}

#purple:hover {
  color: #fff !important;
  background-color: #b50edf;
}

#purple a {
  color: #b50edf;
}

#purple:hover a {
  color: white;
}

#pink:hover .ri-discuss-line {
  background-color: #fff;
}

#pink {
  border-bottom: 3px solid #f51f9c;
}

#pink .ri-discuss-line {
  background: #feecf7;
  color: #f51f9c;
}

#pink:hover {
  color: #fff !important;
  background-color: #f51f9c;
}

#pink a {
  color: #f51f9c;
}

#pink:hover a {
  color: white;
}

#pricing {
  padding: 60px 0px;
}

#featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  background: #4151f1;
  font-size: 14px;
  padding: 1px 0px 3px;
  color: #fff;
  font-family: "Opan sans", sans-serif;
  letter-spacing: 0.5px;
}

.pricing-container {
  margin: 24px 0px 0px;
}

.pricing-content {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
  text-align: center;
  padding: 40px 20px;
  transition: all 0.5s ease;
}

.pricing-content:hover {
  transform: scale(1.1);
}

.pricing-content h3 {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  margin: 0px 0px 15px;
  font-weight: 700;
}

.price {
  font-size: 36px;
  font-weight: 600;
  color: #444444;
  font-family: "Poppins", sans-serif;
}

.price sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.price span {
  font-size: 16px;
  color: #bababa;
  font-weight: 300;
}

.pricing-content img {
  height: auto;
  width: 100%;
  padding: 30px 40px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pricing-content ul {
  margin: 0px 0px 25px;
  padding: 0px !important;
}

.pricing-content ul li {
  font-size: 16px;
  font-family: "Opan sans", sans-serif;
  color: #444444;
  list-style: none;
  font-weight: 400;
  padding: 0px 0px 10px;
}

.pricing-content ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing-content button {
  padding: 8px 40px 10px;
  color: #4151f1;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  transition: all 0.3s ease;
  background: #fff;
  border-radius: 40px;
  font-weight: 600;
  border: 1px solid #4151f1;
}

#faq {
  padding: 60px 0px;
}

.faq-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.5s ease;
}

.faq-box h2 {
  margin: 0px !important;
}

#faq-toggler {
  padding: 15px 15px 20px 0px;
  color: #444444;
  font-size: 18px;
  background: #fff;
  transition: all 0.5s ease;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

#faq-toggler:focus,
.faq-box h2:focus {
  box-shadow: none;
  background: #fff;
}

#faq .accordion-button:not(.collapsed) {
  color: #4154f1;
}

.accordion-body {
  padding: 0px 15px 25px !important;
  color: #444444;
  font-size: 16px;
  font-family: "Opan sans", sans-serif;
  font-weight: 400;
}

#portfolio {
  padding: 60px 0px;
}

.portfolio-button ul {
  padding: 0px !important;
  margin-bottom: 25px;
  list-style: none;
}

.portfolio-button ul li {
  padding: 5px 20px 7px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Opan sans", sans-serif;
  align-self: center;
  border: 1px solid #fff;
  transition: all 0.5s ease;
  border-radius: 50px;
  color: #444444;
  margin: 0px 4px 8px;
}

.portfolio-button ul .active,
.portfolio-button ul li:hover {
  border: 1px solid #4154f1;
  color: #4154f1;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-img {
  position: relative;
  overflow: hidden !important;
  margin: 24px 0px 0px;
}

.portfolio-img img {
  height: auto;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
  position: relative;
}

.porfolio-img-container {
  overflow: hidden;
  position: relative;
}

.portfolio-img:hover img {
  transform: scale(1.1);
}

.portfolio-content {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgb(245, 245, 245, 0.75);
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: 0px;
  bottom: 0px;
}

.portfolio-img:hover .portfolio-content {
  opacity: 1;
}

.portfolio-img:hover .portfolio-lines-1 {
  display: block;
  width: 48px;
  height: 48px;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio-img:hover .portfolio-lines-2 {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio-content h4 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  align-self: center;
  font-family: "Nunito", sans-serif;
}

.portfolio-content p {
  font-size: 14px;
  color: #012970;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Opan sans", sans-serif;
}

.portfolio-links {
  display: inline-block;
}

.portfolio-links a {
  margin: 10px 2px;
  font-size: 24px;
  color: #fff;
  padding: 2px 5px;
  background: #4154f1;
  border-radius: 20px;
}
